language: rust
sudo: required
dist: trusty

addons:
  apt:
    sources:
      - deadsnakes
      - sourceline: 'deb http://llvm.org/apt/trusty/ llvm-toolchain-trusty-3.8 main'
        key_url: 'http://llvm.org/apt/llvm-snapshot.gpg.key'
    packages:
      - gcc
      - make
      - llvm-3.8
      - llvm-3.8-dev
      - clang-3.8
      - lib32z1-dev
      - python2.7
      - python3.6

install:
  - sudo rm -f `which llvm-config`
  - export WELD_HOME=`pwd`
  - PATH=$PATH:/home/travis/.cargo/bin
  - pip install virtualenv==15.1.0
  - bash -e build_tools/travis/init_virtualenvs.sh 2.7 3.6
  - git clone https://github.com/weld-project/weld-benchmarks.git

script:
  - bash -e -x build_tools/travis/test_multi_version.sh 3.8 38.0.1 2.7
